<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--    spring核心配置文件-->

    <import resource="classpath:springdao.xml"/>
    <import resource="classpath:springservice.xml"/>
    <import resource="classpath:springmvc.xml"/>

</beans>